.overlay {
  background-color: rgba(0, 0, 0, 0.8); /* Przyciemnione tło */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 80vh;
  border-radius: 8px;
}

.modal p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  padding: 0;
}

.closeButton:hover {
  color: #ff4500;
}
